#bg1 {
    background-color: #202020;
}

.titulo {
    color: rgb(66, 184, 66);
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    text-shadow: 1px 1px 6px rgb(66, 184, 66);
    text-align: center;
}

.hr1 {
    width: 50%;
    border-color: rgb(66, 184, 66);
    height: 2vh;
}

.pad {
    padding-top: 3vh;
}

.logos {
    width: 36px;
    height: 36px;
}

.contenedor {
    padding: 20px;
}

.titulo2 {
    color: rgb(30, 204, 38);
}

.footer {
    padding-bottom: 10px;
}

.sombra {
    text-shadow: 1px 1px black;
}

.hover:hover {
    transform: scale(1.05, 1.05);
    ;
    -webkit-transform: scale(1.05, 1.05);
    transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    transition-duration: 100ms;
    -webkit-transition-duration: 100ms;
    -moz-transform: scale(1.05, 1.05);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 100ms;
}

.card:hover {
    transform: scale(1.05, 1.05);
    ;
    -webkit-transform: scale(1.05, 1.05);
    transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    transition-duration: 100ms;
    -webkit-transition-duration: 100ms;
    -moz-transform: scale(1.05, 1.05);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 100ms;
}

.card {
    background-color: lightgray;
}

.menuDespl:hover{
    background-color: green;
    color: floralwhite;
}

.colorFondo:hover{
    background-color: darkgreen;
    border-radius: 3px;
}